<a href="https://colab.research.google.com/github/Nestor9801/Curso-b-sico-Python/blob/main/Tipos_de_datos_y_estructuras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Clase 1: Tipos de Datos**

Tipo de dato entero: Los tipos enteros o int en Python permiten almacenar un valor numérico no decimal ya sea positivo o negativo de cualquier valor.

In [ ]:
#Valor entero
#Entra concepto de memoria
#Python utiliza variables dinámicas

a = 1  #--------> Está es una variable
b = 324.0
c = 45673903

print("Validación 1: ", type(c) == type(a))
print("Validación 2: ", type(b) == type(a))

Validación 1:  True
Validación 2:  False

In [ ]:
#Tipo de dato String

cadena = "hola mundo"
numero = "15"
dato3 = "456"
dato4 = 34

print(type(numero))
print(type(cadena))

##Imprime longitud de la cadena
print(len(numero))

###Ejemplo de uso###
##Concatenación
concat1 = cadena +" "+ numero + dato3 
print(concat1)

<class 'str'>
<class 'str'>
2
hola mundo 15456

In [ ]:
##Tipo de dato float

int1 = 24
float1 = 4005.56
float2 = 349506.23

print(type(float1))
###Ejemplo de uso####
####SUMA####
suma = int1 + float1 + float2
print(type(suma))
print(suma)

<class 'float'>
<class 'float'>
353535.79

Nota los valores double tienen más capacidad de memoria
correspoonde a los int64 pero en float

In [ ]:
##Tipo de dato Booleano###

###Valor---Electrónica---Lógica
### 1 ---> Encendido ----True o Verdadero
### 0 ---> Apagado -----> False o Falso

###lo valores booleanos son True and False

###Caso de USO####
###Validaciones###
###Flags----> Banderas###

a = True
b = False

print(type(a))
print(type(b))
print(a == b)

<class 'bool'>
<class 'bool'>
False

In [ ]:
###Operadores lógicos Booleanos###
#### Los operadores lógicos son and y or en Python###

False and True

False

In [ ]:
False or False

False

# **ESTRUCTURAS DE DATOS**

In [ ]:
#Lista 
## Nos ppermite almacenar cualquier tipo de dato
## Una lista es mutable ----> Que puede cambiar o transformarse

###Ejemplo### Actualización de mi lista

lista = [1,2,3.00,4.0,"Hola",6,True,8]
lista.append(int(45.0)) #Adhiriendo un tipo de dato que se ha convertido a entero

##### ¿Cómo acceder a los elementos de una lista? #####
#### lista = [1, 2, 3.00, 4.0, "Hola", 6, True, 8, 45]########
#Posiciones   0  1   2     3     4     5   6    7   8########
###Longitud      ------ 9 ---------

##Obtener posición lista[0]
print(type(lista[4]))
print(len(lista))

print(type(lista))
print(lista)

<class 'str'>
9
<class 'list'>
[1, 2, 3.0, 4.0, 'Hola', 6, True, 8, 45]

### **Operaciones de listas**

In [ ]:
lista_cal = [8,20,12,7,5,18]
numero_cal = len(lista_cal)
####Operación suma sobre una lista##
suma_cal = sum(lista_cal)
promedio = suma_cal/numero_cal
print(promedio)

11.666666666666666

In [ ]:
##Cuount de mi lista
lista_val = ["string","int", "string", "hola", "adios", "mango"]
lista_val.count("string")
lista_val.reverse()
lista_val

['mango', 'adios', 'hola', 'string', 'int', 'string']

In [ ]:
stack = [2,4,6,7,8]
###Se hace una operación push###
stack.append(56)
stack

[2, 4, 6, 7, 8, 56]

In [ ]:
### Se elimina el último##
stack.pop()
stack

[2, 4, 6]

In [ ]:
###Acceder a un elmento de mi lista###
stack[0]

2

### **Tuplas**

In [ ]:
### Tupla es una estructura de datos que es inmutable###
###Nosotros no podemos hacerle una operación##
tupla = (1,2,3,4,"string")

###Acceder a elemento de la tupla##
print("Extrayendo elemento en la posición 0: ",tupla[0])

###Para nostros poder cambiar una tupla, lo ideal es pasarla a una lista
list_tupla = list(tupla)
print(list_tupla)
tuple_2 = tuple(list_tupla)
print("imprimiendo tupla 2:", tuple_2)

Extrayendo elemento en la posición 0:  1
[1, 2, 3, 4, 'string']
imprimiendo tupla 2: (1, 2, 3, 4, 'string')

## **Diccionarios**

In [ ]:
diccionario = {}
type(diccionario)

dict

In [ ]:
##El dicionario tiene una llave (key) y un valor ("value")

diccionario = {
    "a":256,
    "b":"hola",
    "c": 24.0,
    ##Objeto anidado o nested object####
    "data": {
        "a": 23,
        "b":45,
        "s":"cadena",
        "data_2":{
            "value1": 85,
            "nested_array": [3,2,4,5,6,7,8,9]
        }
    }
}

print(diccionario)

"""                                         key value
                                             |    |
{'a': 256, 'b': 'hola', 'c': 24.0, 'data': {'a': 23, 'b': 45, 's': 'cadena'}}
  |     |                             |                   |
key  value                           key                value
"""


###Diccionario es su homologo a JSON en JS

{'a': 256, 'b': 'hola', 'c': 24.0, 'data': {'a': 23, 'b': 45, 's': 'cadena', 'data_2': {'value1': 85, 'nested_array': [3, 2, 4, 5, 6, 7, 8, 9]}}}

"                                         key value\n                                             |    |\n{'a': 256, 'b': 'hola', 'c': 24.0, 'data': {'a': 23, 'b': 45, 's': 'cadena'}}\n  |     |                             |                   |\nkey  value                           key                value\n"

In [ ]:
###¿Cómo accedo a un elemento de mi diccionario?###
print(diccionario.keys())

dict_keys(['a', 'b', 'c', 'data'])

In [ ]:
diccionario['data']['data_2']['nested_array']

[3, 2, 4, 5, 6, 7, 8, 9]

In [ ]:
print(type(diccionario['data']['s']))

<class 'str'>

In [ ]:
diccionario['data']['s']

'cadena'

In [ ]:
diccionario_2 = {}

In [ ]:
###Añadiendo valores a mi didccionario
###Actualizando###
diccionario_2["clave2"] = 24

In [ ]:
##Elimina elemento del diccionario
del diccionario_2["clabe1"]

In [ ]:
diccionario_2

{'clabe3': {'valu3': 'hola'}, 'clave2': 24}